* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #fff;
}
header {
  background-color: #0A621C;
  padding: 20px 0;
  text-align: center;
}
.logo {
  height: 60px;
  display: block;
  margin: 0 auto;
}
nav {
  background-color: #0A621C;
  text-align: center;
  padding: 10px 0;
}
nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
main {
  padding: 40px;
  text-align: center;
}
footer {
  background: #0A621C;
  color: white;
  text-align: center;
  padding: 20px;
}
.nav-servicos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.nav-servicos button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #0A621C;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.nav-servicos button:hover {
  background-color: #084e16;
}